params {
    known_sites_tsv = '../../data/220k_panel/bam_to_pileup/snps_in_220kprobes_v2.tsv'
    fasta = '../../data/reference/hg38_only_chromsomes.fa'
    fasta_index = '../../data/reference/hg38_only_chromsomes.fa.fai'
    bwa_index_dir = '../../data/reference/bwamem2_index'
}

process {
    withName: 'SNP_CORRELATION' {
        ext.args = '--min-snp-count 0 --min-depth 60'
    }

    withName: 'SNP_PILEUP' {
        ext.args = '--methylation-mode'
    }
}
